<div [ngStyle]="getStyle()">

  <!--<pre>{{self | json}}</pre>-->
  <div class="flex">
    <div>
      <div>id: {{self?.id}}</div>
      <div>y: {{self?.y}}</div>
      <div>x: {{self?.x}}</div>
      <div>l: {{self?.l}}</div>
      <div>t: {{self?.t}}</div>
    </div>
    <div>
      <div>pl:</div>
      <pre>{{self?.preventLeft?.length | json}}</pre>
      <div>pt:</div>
      <pre>{{self?.preventTop?.length | json}}</pre>
      <div>plo:</div>
      <pre>{{self?.preventLeftOld?.length | json}}</pre>
      <div>pto:</div>
      <pre>{{self?.preventTopOld?.length | json}}</pre>
    </div>

  </div>
  <!--<pre>-->
  <!--{{ self | json}}-->
  <!--</pre>-->

</div>

