<div>
  links
  <br>
  <a routerLink="/stage/stage-test-slide-x">stage test slide x</a>
  <br>
  <a routerLink="/stage/stage-test-slide-y">stage test slide y</a>
  <br>
  <a routerLink="/stage/stage-test-double-collide">stage test double collide</a>
  <br>
  <a routerLink="/stage/stage-test-double-collide-two">stage test double collide two</a>
  <br>
  <a routerLink="/stage/stage-test-stuck-collide">stage test stuck collide</a>
  <br>
  <a routerLink="/stage/stage-test-follow-me">stage test follow me</a>
  <br>
  <a routerLink="/stage/stage-test-world">stage test world</a>
</div>
